:root {
     font-size: 16px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
     font-family: "Roboto Condensed", sans-serif;
     font-size: 17px;
     margin: 0 auto;
     padding: 0;
}

body a {
     color: #000;
     font-size: 1rem;
}

body a:hover {
     text-decoration: none;
}

body a>i {
     padding: 0 .4rem;
}

.top__content {
     height: 2rem;
     line-height: 2rem;
     background-color: black;
     color: white;
     font-size: .75rem;
     font-weight: 700;
     text-align: center;
}

.nav_menu {
     position: fixed;
     top: 0;
}

div.menu {
     display: flex;
     justify-content: center;
     width: 100vw;
     background-color: #ffffffee;
     padding: 0;
     height: 6rem;
     font-weight: 700;
     box-shadow: 0 0 5px 0 #333;
}

.menu>.logo_container {
     height: 100%;
}

.caret {
     margin: 0;
     padding: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     list-style-type: none;
}

.menu_container {
     width: 60%;
     opacity: 1;
     z-index: 10000;
}

.item_menu_container {
     position: relative;
}

.item_menu_container:hover>a {
     color: red;
     text-decoration: none;
}

.sp>li:hover>ul,
.sp_dropdown>li:hover>ul,
.item_menu_container:hover>.sp {
     opacity: 1;
     visibility: visible;
     transform: translate3d(0, 0, 0);
}

.item_menu_container>.sp,
.sp_dropdown {
     visibility: hidden;
     position: absolute;
     padding: 0;
     left: 0;
     top: 100%;
     width: 12rem;
     background-color: #f1f1f1;
     opacity: 0;
     transform: translate3d(0, 1rem, 0);
     transition: transform 200ms, visibility 300ms, opacity 200ms;
}

.item_menu_container>.sp>li>a,
.sp_dropdown>li>a {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: .2rem .4rem;
}

.sp>li:hover,
.sp_dropdown>li:hover {
     background-color: #dedede;
}

.sp>li>a,
.sp_dropdown>li>a {
     color: #555;
}

.sp_dropdown {
     left: 100%;
     top: 0;
}

input {
     background-color: #e2d3e1;
     width: 250px;
     height: 30px;
}

.header_divider {
     border-left: 1px solid rgba(0, 0, 0, 0.1);
     height: 30px;
     vertical-align: middle;
     position: relative;
     margin: 0 7.5px;
}

.content,
.product_list {
     width: auto;
}

.content_img_1 {
     margin: 0 20rem;
     overflow: hidden;
     height: 300px;
     margin-top: 1rem;
}

.products {
     margin: 10px 20rem;
     padding: 0;
     height: 40px;
     width: auto;
}

.product_list {
     margin: 0 15rem;
}

.product_list>.list>.list_side>a>img {
     overflow: hidden;
     width: auto;
}

.title__products {
     width: auto;
}

.product_title {
     padding: 0 2.4rem;
     color: red;
}

.hr_1 {
     float: left;
     width: 270px;
}

.hr_2 {
     float: right;
     width: 287px;
     padding: 0;
}

li {
     list-style-type: none;
     cursor: pointer;
}

.content {
     overflow: hidden;
     margin: auto;
     width: 80%;
}

.chuyen_slide {
     width: 9999px;
     transition: all 0.5s;
}

.img_content {
     width: 1018px;
     height: 400px;
     float: left;
}

.move_back {
     position: relative;
     color: white;
     font-size: 40px;
     padding-left: 20px;
}

.list {
     display: flex;
     height: 370px;
}

.list_side {
     padding: 0 0.5px;
     margin: 5px 0;
     cursor: pointer;
     height: 370px;
     overflow: hidden;
}

.list_title {
     text-align: center;
     font-family: roboto, verdana, helvetica;
     color: #555;
}

.list .list_side,
.list .list_side .list_title:hover {
     color: blueviolet;
}

.news {
     margin: 10px 20rem;
     display: flex;
}

.new_title {
     float: left;
     width: auto;
     padding: 0 1rem;
     color: red;
}

.new_hr1 {
     float: left;
     width: 360px;
}

.new_hr2 {
     float: right;
     width: 381px;
     padding: 0;
}

.product_list_details {
     margin: 0 15rem;
     overflow: hidden;
}

.product_list_details_side {
     display: flex;
     max-width: 100%;
}

.product_list_details_side_side>img {
     width: 330px;
}

.product_list_details_side_side {
     padding: 0 5px;
}

a {
     text-decoration: none;
     color: #555555;
     font-size: 13px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #666;
}

.product_list_details_side__side {
     font-size: 16px;
     text-align: center;
}

.product_list_details_side_side>a>p {
     border: 1px solid #b0b0c7;
     padding: 5px;
     margin: 5px;
     color: #b0b0c7;
}

.product_list_details_side_side>a>p:hover {
     background-color: #446084;
     color: #fff;
     border-color: #446084;
}

.product_list_details_side_side>.khoa:hover {
     color: blueviolet;
}

@media screen and(min-width:700px) {
     .product_list_details {
          flex-direction: column;
     }
}

.footer_infor {
     margin: 5rem 15rem 0 15rem;
     display: flex;
}

.address>p>span {
     font-weight: bolder;
}

.address {
     width: auto;
     padding: 0 10px;
}

.fanpage {
     width: auto;
     padding: 0 10px;
}

.footer {
     background-color: #666666;
     text-align: center;
     margin-bottom: 0;
}

@media screen and (max-width: 990px) {
     .logo_container {
          display: none;
     }
     .menu_container {
          width: 100%;
     }
}