@media screen and (max-width:900px) {
    .item_menu_container {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        transition: top 1s ease;
        display: none;
    }
    .openMenu {
        display: block;
        color: #000;
        position: absolute;
        top: 6%;
        right: 2rem;
    }
    .closeMenu {
        /* display: block; */
        position: absolute;
        top: 6%;
        right: 2rem;
    }
    .menu li a:hover {
        background-color: none;
        color: #aaabbb;
    }
}

@media screen and (max-width:1000px) {
    .list {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:900px) {
    .product_list_details {
        margin: auto;
        width: 100%;
        flex-direction: column;
    }
    .carousel-inner {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .footer_infor {
        padding: 5px;
        flex-direction: column;
    }
    .address {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .product_title {
        display: flex;
        align-items: center;
        width: 27rem;
        padding: 0px;
        margin: 0 0rem 0 -10rem;
        border-bottom: none;
    }
    .tintuc {
        display: flex;
        width: 100%;
        text-align: center;
        margin: 0 0 23px 28rem;
    }
    .fanpage {
        width: 41rem;
        margin: 0;
        padding: 0;
    }
}