@media screen and (max-width:900px) {
     .item_menu_container {
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
          flex-direction: column;
          transition: top 1s ease;
          display: none;
     }
     .openMenu {
          display: block;
          color: #000;
          position: absolute;
          top: 6%;
          right: 2rem;
     }
     .closeMenu {
          /* display: block; */
          position: absolute;
          top: 6%;
          right: 2rem;
     }
     .menu li a:hover {
          background-color: none;
          color: #aaabbb;
     }
}

@media screen and (max-width:900px) {
     .list {
          flex-direction: column;
          width: 100%;
          margin: 0 auto;
     }
}

@media screen and (max-width:900px) {
     .product_list_details_side_side {
          width: 100%;
          flex-direction: column;
     }
}

@media screen and (max-width: 900px) {
     .footer_infor {
          padding: 5px;
          flex-direction: column;
     }
     .address {
          width: 100%;
     }
}

@media screen and (max-width:900px) {
     .product_title {
          display: flex;
          align-items: center;
          width: 27rem;
          padding: 0px;
          margin: 0 0rem 0 -10rem;
          border-bottom: none;
     }
     .tintuc {
          display: flex;
          width: 100%;
          margin: 0 0 23px 20rem;
     }
     .fanpage {
          max-width: 500px;
          margin: 0 auto;
          padding: 0;
     }
}